.inputPost{
    margin-bottom: 10px;
}
.ButtonLogin{
    width: 100%;
}
.Button-back{
    position: relative;
    top: 31px;
    left: 43px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}